@font-face{
    font-family:RobotoSlab;
    src:local("RobotoSlab"),
    url(/fonts/RobotoSlab-Bold.ttf) format("truetype")
    }
@font-face{
    font-family: ZenKakuGothicNew-Black;
    src: url(/fonts/ZenKakuGothicNew-Black.ttf) format("truetype");
  }
@font-face{
    font-family:ZenKakuGothicNew-Regular;
    src:local("ZenKakuGothicNew"),url(/fonts/ZenKakuGothicNew-Medium.ttf) format("truetype");
    }
:root {
  --font-serif: 'RobotoSlab', serif;
  --black: black;
  --red: #ee2529;
  --grey: #808080;
  --lightgrey: #d0d0d0;
  --yellow: #ffc907;
  --blue: #0099a9; 
  }
  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
*, *:before, *:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  display: block;
}

/* Typography */
body {
  font-family: 'ZenKakuGothicNew-Black', serif;
  color: #4e4e4e;
  font-weight: 200;
  line-height: 1.667;
}
h1 {
  font-family: 'ZenKakuGothicNew-Black', serif;
  color: #4e4e4e;
  letter-spacing: .3em;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 0;
}
h2 {
  font-family: 'RobotoSlab', serif;
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: #ee2529;
  line-height: 1.2;
  margin-bottom: 0;
}
h3 {
  font-family: 'RobotoSlab', serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: #0099a9;
  text-decoration: none;
  margin-bottom: 0;
}
h3 a {
  font-family: 'RobotoSlab', serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: var(--orange);
  text-decoration: none;
}

/* Header */
.header {
  padding-top: 20px;
}
.page-header-stripe {
  position: relative;
  z-index: 999;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 12px;
  padding-top: 3.5px;
  border-top: 1.5px solid #343434;
  border-bottom: 1.5px solid #343434;
}
.header-logo {
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: .5rem;
}

/* Main Navigation */
.main-nav {
  background: black;
  color: white;
  font-size: 16px;
  font-family: "ZenKakuGothicNew-Regular","Courier New",monospace;

}
.menu a:hover {
  color: #ee2529;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: #343434;
  margin: .75rem;
}
.menu {    
  display: flex;
  list-style: none;
  justify-content: center; 
  font-family: "ZenKakuGothicNew-Regular","Courier New",monospace;
  font-size: 16px;
  letter-spacing: .1px;
  padding-top: 1rem;
}
ul {
  list-style: none;
  margin-top: .5em;
  padding-bottom: .5rem;
}
ul, li {
  margin:0;
  padding:0;
}

/* Body */
.home-page {
  margin: 0;
  background-color: black;
}
.page-hero {
  width:100%;
  height:0;
}
.page-hero__large {
  padding-top: 1.5rem;
  padding-bottom: 7rem;
  display: flex;
  justify-content: center;
}
.page-hero__medium {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  max-width: 1020px;
}

.container {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: .2rem;
  padding-bottom: 0;
  padding-left: 1rem;
}
.section-header {
  padding-top: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.hero {
  width: 90%;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px 10px;
  display: flex;
}
.hero__image {
  display: flex;
  justify-content: center;
}
.hero__image a:hover {
  filter: brightness(110%) saturate(120%);  
}

.hero__text-left {
  padding-left: 2.5rem;
  padding-right: 4rem;
  text-align: right;
}


/* Footer */
.page-footer {
  padding: 1rem;
}

.footer-nav {
  height: 3px;
  margin-top: 3.5rem;
  padding-top: 3.5px;
  border-top: 1.5px solid #343434;
  border-bottom: 1.5px solid #343434;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: center; 
  font-size: 1.6rem;
  padding: .5rem;
  padding-top: 4rem;

}
.social-media a {
  padding: 0.5rem;
  color: #343434;
}
.social-media a:hover {
  color: #ffc907;
}
.copyright__footer {
  font-size: .8rem;
  color: #343434;
  text-align: center;
}


