 @import url("https://use.typekit.net/rxk8ivn.css");
 @import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@900&display=swap');

  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
*, *:before, *:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

/* Typography */
body {
  font-family: "century-gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #787373;
  line-height: 1.55;
}
h1 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: #787373;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 0;
}
h1 a:hover {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: #ffc907;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 0;
  text-decoration: none;
}

h1 a  {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: #787373;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 0;
  text-decoration: none;
}

h2 {
  font-family: "henderson-slab-basic", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ee2529;
  line-height: 1.2;
  margin-bottom: 0;
}
h3 {
  font-family: "henderson-slab-basic", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #ffc907;
  text-decoration: none;
  margin-bottom: 0;
}
h3 a:hover {
  font-family: "henderson-slab-basic", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #ee2529;
  text-decoration: none;
}
h3 a  {
  font-family: "henderson-slab-basic", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #0099a9;
  text-decoration: none;
}
h4 {
  font-family: "henderson-slab-basic", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ee2529;
  line-height: 1.2;
  margin-bottom: 0;
}
p a:link {
  color: #0099a9;
  background-color: transparent;
  text-decoration: none;
}
p a:visited {
  color: #ffc907;
  background-color: transparent;
  text-decoration: none;
}
p a:hover {
  color:  #ee2529
  background-color: transparent;
  text-decoration: none;
} 
blockquote {
  margin: 0;
}

blockquote p {
  padding: 50px;
  color: black;
  background: #ffc907;
  border-radius: 100px;
}


/* Header */
.header {
  padding-top: 20px;
}
.page-header-stripe {
  position: relative;
  z-index: 999;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 12px;
  padding-top: 3.5px;
  border-top: 1.5px solid #787373;
  border-bottom: 1.5px solid #787373;
}
.header-logo {
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: .5rem;
}

/* Main Navigation */
.main-nav {
  background: black;
  font-size: 16px;
  color: #787373;
}
.menu a:hover {
  color: #ee2529;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: #787373;
  margin: .75rem;
}
.menu {    
  display: flex;
  list-style: none;
  justify-content: center; 
  font-size: 16px;
  letter-spacing: .1px;
  padding-top: 1rem;
}
ul {
  list-style: none;
  margin-top: .5em;
  padding-bottom: .5rem;
}
ul, li {
  margin:0;
  padding:0;
}

/* Body */
.home-page {
  margin: 0;
  background-color: black;
}
.page-hero {
  width:100%;
  height:0;
}
.page-hero__large {
  padding-top: 1.5rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
}
.page-hero__medium {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  max-width: 1020px;
  
}
/* a:link {
  color: #0099a9;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #ffc907;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color:  #ee2529
  background-color: transparent;
  text-decoration: none;
} */
.container {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: .2rem;
  padding-bottom: 0;
  padding-left: 1rem;
}
.section-header {
  padding-top: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.hero {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px;
  display: flex;
}
.hero__image {
  display: flex;
  justify-content: center;
}
.hero__image:hover {
  filter: brightness(110%) saturate(120%);  
}

.hero__text-left {
  padding-left: 2.5rem;
  padding-right: 4rem;
  text-align: right;
}
.hero__text-right {
  padding-left: 2.5rem;
  text-align: left;
}



/* Footer */
.page-footer {
  padding: 1rem;
}

.footer-nav {
  height: 3px;
  margin-top: 3.5rem;
  padding-top: 3.5px;
  border-top: 1.5px solid #787373;
  border-bottom: 1.5px solid #787373;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: center; 
  font-size: 1.6rem;
  padding: .5rem;
  padding-top: 4rem;

}
.social-media a {
  padding: 0.5rem;
  color: #787373;
}
.social-media a:hover {
  color: #ffc907;
}
.copyright__footer {
  font-size: .8rem;
  color: #787373;
  text-align: center;
}


